.progress {
    transform: rotate(-90deg);
}

.progress__meter,
.progress__value {
    fill: none;
}

.progress__meter {
    stroke: #e6e6e6;
}

.progress__value {
    stroke: #f77a52;
    stroke-linecap: round;
}

.progress__value-text {
    transform: rotate(90deg);
}